<% content_for :title, " Commande passée | Raidators" %>
<!-- Main navigation -->
<div class="container-fluid mt-3 mb-5 light-background-raidators">
  <!-- background -->
  <div class="col-lg-6 col-md-4  mt-5 mb-5 form-background-raidators">
    <!-- Content -->
    <div class="container my-5">     
      <h3 class="text-center pb-2"><i class="fas fa-gift"></i> Merci pour votre commande !</h3>
      <!--Grid row-->
      <div class="row d-flex align-items-center justify-content-center form-background-raidators">
        <!--Grid column-->
        <div class="col-md-6 col-xl-8">
          <!--Form-->
          <div class="card">
            <div class="card-body px-4">

              <div class="container text-center my-5">
                <h1>Succès</h1>
                <p>Nous avons bien reçu votre paiement de <%= number_to_currency(@payment_intent.amount_received / 100.0, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>.</p>
                <p>Le statut de votre paiement est : <%= @payment_intent.status %>.</p>
                <p> Grâce à vous, Les Raidators se rapproche de leur objectif ! </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>