<h1>Voici votre bon de commande</h1>

  <div class = "ordersheader">
    <p> Commande effectuée le </p>
    <p> Total</p>
    <p> Livraison à </p>
    <p> Numéro de commande </p>
  </div>

  <% @order.join_order_product.each do |myorder| %>
    <%= product.avatar %>
    <%= product.title %>
    <%= product.price %>
  <%end>

