<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Vous avez une nouvelle commande !</p>
    <p>
    Détail de la commande <br>
    --------------------------
  </body>
</html>