<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Vous avez un nouveau don </p>
    <p>Rendez vous sur votre profil pour le consulter</p>

  </body>
</html>