<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    Merci pour ta commande! On revient rapidement vers toi
     pour que te donner les informations dont tu as besoin en attendant tu peux consulter les détails sur ta page profil de notre site internet. </p>
    <p>


  <p> Les Raidators </p>
  </body>
</html>