<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h1> Merci pour ton don, le dieu des Raidators te le rendra </h1>
    <p> PS: Si tu as besoin d'une facture, n'hésite pas à nous contacter à raidator@yopmail.com </p>
    </div>
  </body>
</html>