<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Salut <%= @user.first_name %> voici ta commande :)</h1>
    <p>
    </p>
    <p> Un  grand merci de la part de toute l'équipe, et à bientot</p>
    </div>
  </body>
</html>