<html>
  <body>     
    <h1>Hello ADMIN,</h1>
      <p>
      Tu as une nouvelle pré-commande/don !
      voici les infos que tu dois retenir </br>
      </p> 
        <div class = "ordersheader">
          <ul>
          <li> Commande effectuée le <@order.timestamps></li>
          <li> Total <@order.total.price></li>
      <p> Numéro de commande  </p>
    </div>
    <p> 
    À bientot, 
    </p>
  </body>