<h1>Blog</h1>
  <button class="btn-primary" type="submit"> <%= link_to "nouvel article", new_post_path %>

  <button class="btn-primary" type="submit"> <%= link_to "nouvel article", new_post_path %>

<%= render :partial => "shared/banner" %>
<%= render 'list_articles'%>