/* custom.css */
.image-signup{
  background-image: url(signup-EuropRaid-2017-043); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner-product{
background-image: url(../images/EuropRaid-2017-0511.jpg);
background-repeat: no-repeat; 
background-size: cover; 
background-position: center center;
height: 100vh;
}

h1, h2 {
  border: solid;
  border-color: red;
}