/* custom.css */
.image-signup{
  background-image: url(../images/signup-EuropRaid-2017-0431.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner-product{
background-repeat: no-repeat; 
background-size: cover;
max-height: 250px; 
background-position: center center;
height: 100vh;
}

/* ---------------TEAM PAGE--------------------- */

.w-200 {
  width: 200px;
}

