<p>Bonjour, <%= @resource.email %>!</p>

<p>Quelqu'un à demander à modifier votre mot de passe. Vous pouvez le modifier en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de la demande, merci de ne pas tenir compte de ce mail.</p>
<p>Votre mot de passe ne sera pas changé si vous ne cliquez pas sur ce lien.</p>
