<html>
  <body>


<%= form_for @product do |f| %>

  <div class="form_group">
  <%= f.text_field :title, placeholder: Titre, class 'form_control' %>
  </div>

  <div class="form_group">
  <%= f.text_field :price, placeholder: Prix, class 'form_control' %>
  </div>

  <div class="form_group">
  <%= f.text_field :description, placeholder: Description, class 'form_control' %>
  </div>

  <div class="form_group">
  <button class="btn-primary" type="submit"> Modifier le dons /produits </button>
  </div>

  <%end%>



  </body>
  </html>