<html>
<body>

<h1>Products#index</h1>


<% @products.each do |product| %>

  <h2> <%= product.image_url %> </h2>
  <h2> <%= product.title %> </h2>
  <h2> <%= product.price %> </h2>
  
<% end %>

</body>
</html>