<html>
  <body>  


<h1>Products#show</h1>


<h2> <%= @product.image_url %> </h2>
<h1>Titre : <%= @product.title %> </h1>
<h2> Description : <%= @product.description %> </h2>
<h2> Prix : <%= @product.price %> </h2>
 
  </body>
</html>