<!-- Footer -->

<footer class="page-footer font-small grey lighten-3 py-4 dark-grey-text">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h3 class="font-weight-bold mb-0">Raidators</h3>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
          <li>
            <%= link_to "Équipe", equipe_path, class:"mx-3 nav-link" %>
          </li>
          <li>
            <%= link_to "Contact", equipe_path, class:"mx-3 nav-link" %>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <!-- Copyright -->
        <div class="footer-copyright text-right bg-transparent dark-grey-text mt-2">© 2020.
          <p> All rights reserved.</p>
        </div>
        <!-- Copyright -->
      </div>
    </div>

  </div>
  <!-- Footer Elements -->

</footer>
<!-- Footer -->